$bootstrap-sass-asset-helper: false !default;
//
// Variables
// --------------------------------------------------

//== Colors
$primary: #009791;
$secondary: #333e47;
$overlay: rgba(0, 0, 0, 0.4);
$text: #5a5a5a;
$white: #ffffff;
